header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header>h1{
	align-self: flex-start;
}

#closeCodeBtn{
	display: none;
}

.envs{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.envOption{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 150px;
	background-color: #ccc;
	border-radius: 5%;
}

input[type="radio"]{
	display: none;
}

input[type="radio"]:checked+label {
	border: 1px solid blue;
}