header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#code {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	font-size: larger;
}

#closeCodeBtn{
	display: none;
}

.spacer{
	flex-grow: 999;
}

#envs{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.envOption{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 150px;
	background-color: #d8d8e0;
	border-radius: 5%;
	text-align: center;
}

.envOption>label{
	padding-top: 5px;
	border-radius: 5%;
}

input[type="radio"]{
	display: none;
}

input[type="radio"]:checked+label {
	border: 1px solid blue;
}