
.envs{
	display: flex;
}

.envOption{
	display: flex;
	flex-direction: column;
	justify-content: start;
}

input[type="radio"]:checked+label {
	border: 1px solid blue;
}

label {
	border: 1px solid red;
}